.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

.site-masthead h1 {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0.5em;
  padding: 0;
  @media (min-width: $on-tablet) {
    font-size: 2em;
  }
}

.site-masthead h2 {
  color: $muted-text-color;
  font-size: 1.25em;
  margin: 0.5em;
  padding: 0;
  @media (min-width: $on-tablet) {
    font-size: 1.25em;
  }
}